header {
  size: 400px;
  width: 100%;
  background-color: #000752;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.container-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.icon-position {
  margin-top: 150px;  
}