form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

div {
  display: flex;
  justify-content: space-between;
}

button {
  font-family: Bungee, sans-serif;
  color: white;
  background-color: #4056A1;
}

output {
  font-weight: bold;
}

#error-message {
  color: red;
  display: flex;
  justify-content: center;
}